@thickness: 4px;
@red: #FF4136;
@green: #2ECC40;
@teal: #39CCCC;
@fuchsia: #F012BE;
@orange: #FF851B;
@gray: #BBBBBB;
@dark-gray: #666666;

.box {
  &.isFirstPlayer {
    background-color: @teal;
  }
  &.isSecondPlayer {
    background-color: @orange;
  }
  width: 30px;
  height: 30px;
  position: relative;
}

.border {
  transition: background-color 0.05s;
  border-radius: 3px;
  border: 1px solid @gray;

  &:hover {
    background-color: @green;
    border-color: @green;
    z-index: 1;
    cursor: pointer;
  }
  
  &.active {
    background-color: @dark-gray;
    border-color: @dark-gray;
    z-index: 1;
    cursor: default;
  }
  
  position: absolute;
  background-color: @gray;
}

.top {
  .border;
  width: 100%;
  height: @thickness;
  top: -3px;
}

.right {
  .border;
  height: 100%;
  width: @thickness;
  right: -3px;
}

.bottom {
  .border;
  width: 100%;
  height: @thickness;
  bottom: -3px;
}

.left {
  .border;
  height: 100%;
  width: @thickness;
  left: -3px;
}